@* https://www.codeply.com/go/ANCIOF2n0M/bootstrap-table-with-collapsible-rows-by-bootstrap-4 *@

@using BevragingIngeschrevenPersonen.Types;

@inject IJSRuntime JSRuntime


@if (Persoon == null || PersoonNietGevonden != null)
{
    <h4>
        @ToonTitel()
    </h4>
}
else
{
   
    <h4 data-toggle="collapse" data-target=@("#" + Persoon.Burgerservicenummer) 
        aria-expanded="false" aria-controls=@Persoon.Burgerservicenummer style="cursor:pointer;">
        @ToonTitel()
    </h4>

    <table class="table table-sm">
        @*<tbody>
                <tr class="clickable" style="cursor:pointer;" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
                <td>@BrpPersoon.Aanschrijfwijze</td><td></td></tr>
            </tbody>*@
        <tbody id=@Persoon.Burgerservicenummer class="collapse">
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Aanhef)</td>
                <td>@Persoon.Aanhef</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>
                    @nameof(Persoon.Aanschrijfwijze)
                </td>
                <td>@Persoon.Aanschrijfwijze</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Burgerservicenummer)</td>
                <td>@Persoon.Burgerservicenummer</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.DatumGeboorte)</td>
                <td>@Persoon.DatumGeboorte</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.DatumGeboorteBevolking)</td>
                <td>@Persoon.DatumGeboorteBevolking</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.DatumOverlijden)</td>
                <td>@Persoon.DatumOverlijden</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Geboorteland)</td>
                <td>@Persoon.Geboorteland</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Geheim)</td>
                <td>@Persoon.Geheim</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Geslacht)</td>
                <td>@Persoon.Geslacht</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Naam)</td>
                <td>@Persoon.Naam</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Nationaliteit1)</td>
                <td>@Persoon.Nationaliteit1</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Nationaliteit2)</td>
                <td>@Persoon.Nationaliteit2</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Voorletters)</td>
                <td>@Persoon.Voorletters</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Voornamen)</td>
                <td>@Persoon.Voornamen</td>
            </tr>
            <tr class="table-responsive-sm">
                <td>@nameof(Persoon.Voorvoegsels)</td>
                <td>@Persoon.Voorvoegsels</td>
            </tr>
        </tbody>
    </table>

}

@code {
    private string titel;

    [Parameter]
    public IPersoon Persoon { get; set; }
    [Parameter]
    public EventCallback<IPersoon> PersoonChanged { get; set; }

    [Parameter]
    public PersoonNietGevonden PersoonNietGevonden { get; set; }
    [Parameter]
    public EventCallback<PersoonNietGevonden> PersoonNietGevondenChanged { get; set; }


    [Parameter]
    public string PersoonContext { get; set; }
    [Parameter]
    public EventCallback<string> PersoonContextChanged { get; set; }


    //[Parameter]
    //public PersoonCompositie BrpPersoonCompositie { get; set; }
    //[Parameter]
    //public EventCallback<PersoonCompositie> BrpPersoonCompositieChanged { get; set; }


    public string ToonTitel()
    {
        string preString = String.Empty;
        if (PersoonContext != null)
        {
            preString = PersoonContext + " : ";
        }

        return preString + (Persoon != null ? Persoon.Aanschrijfwijze : String.Empty);
    }

    public async Task Collapser()
    {
        await JSRuntime.InvokeVoidAsync("jstoggler");
    }
}