@* https://www.codeply.com/go/ANCIOF2n0M/bootstrap-table-with-collapsible-rows-by-bootstrap-4 *@

@using BevragingIngeschrevenPersonen.Types;

@inject IJSRuntime JSRuntime

<h4 data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1" style="cursor:pointer;">
    @ToonTitel()
</h4>

@if (BrpPersoon != null)
{
    <table class="table table-sm">
        @*<tbody>
            <tr class="clickable" style="cursor:pointer;" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
            <td>@BrpPersoon.Aanschrijfwijze</td><td></td></tr>
        </tbody>*@
        <tbody id="group-of-rows-1" class="collapse">
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Aanhef)</td>                    <td>@BrpPersoon.Aanhef</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Aanschrijfwijze)</td            <td>@BrpPersoon.Aanschrijfwijze</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Burgerservicenummer)</td>       <td>@BrpPersoon.Burgerservicenummer</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.DatumGeboorte)</td>             <td>@BrpPersoon.DatumGeboorte</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.DatumGeboorteBevolking)</td>    <td>@BrpPersoon.DatumGeboorteBevolking</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.DatumOverlijden)</td>           <td>@BrpPersoon.DatumOverlijden</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Geboorteland)</td>              <td>@BrpPersoon.Geboorteland</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Geheim)</td>                    <td>@BrpPersoon.Geheim</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Geslacht)</td>                  <td>@BrpPersoon.Geslacht</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Naam)</td>                      <td>@BrpPersoon.Naam</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Nationaliteit1)</td>            <td>@BrpPersoon.Nationaliteit1</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Nationaliteit2)</td>            <td>@BrpPersoon.Nationaliteit2</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Voorletters)</td>               <td>@BrpPersoon.Voorletters</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Voornamen)</td>                 <td>@BrpPersoon.Voornamen</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoon.Voorvoegsels)</td>              <td>@BrpPersoon.Voorvoegsels</td></tr>
        </tbody>
    </table>

    if (BrpPersoon.Burgerservicenummer != null)
    {

    }
}

@code {
    private string titel;

    [Parameter]
    public Persoon BrpPersoon { get; set; }

    [Parameter]
    public EventCallback<Persoon> BrpPersoonChanged { get; set; }

    public string ToonTitel()
    {
        return BrpPersoon != null ? BrpPersoon.Aanschrijfwijze : "";
    }

    public async Task Collapser()
    {
        await JSRuntime.InvokeVoidAsync("jstoggler");
    }
}