@* https://www.codeply.com/go/ANCIOF2n0M/bootstrap-table-with-collapsible-rows-by-bootstrap-4 *@

@using BevragingIngeschrevenPersonen.Types;

@inject IJSRuntime JSRuntime

<h4 data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1" style="cursor:pointer;">
    @ToonTitel()
</h4>

@if (BrpPersoonCompositie != null && BrpPersoonCompositie.Persoon != null)
{
    <table class="table table-sm">
        @*<tbody>
            <tr class="clickable" style="cursor:pointer;" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
            <td>@BrpPersoon.Aanschrijfwijze</td><td></td></tr>
        </tbody>*@
        <tbody id="group-of-rows-1" class="collapse">
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Aanhef)</td>                    
                                                   <td>@BrpPersoonCompositie.Persoon.Aanhef</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Aanschrijfwijze)</td            
                                                   <td>@BrpPersoonCompositie.Persoon.Aanschrijfwijze</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Burgerservicenummer)</td>       
                                                   <td>@BrpPersoonCompositie.Persoon.Burgerservicenummer</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.DatumGeboorte)</td>             
                                                   <td>@BrpPersoonCompositie.Persoon.DatumGeboorte</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.DatumGeboorteBevolking)</td>    
                                                   <td>@BrpPersoonCompositie.Persoon.DatumGeboorteBevolking</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.DatumOverlijden)</td>           
                                                   <td>@BrpPersoonCompositie.Persoon.DatumOverlijden</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Geboorteland)</td>              
                                                   <td>@BrpPersoonCompositie.Persoon.Geboorteland</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Geheim)</td>                    
                                                   <td>@BrpPersoonCompositie.Persoon.Geheim</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Geslacht)</td>                  
                                                   <td>@BrpPersoonCompositie.Persoon.Geslacht</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Naam)</td>                      
                                                   <td>@BrpPersoonCompositie.Persoon.Naam</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Nationaliteit1)</td>            
                                                   <td>@BrpPersoonCompositie.Persoon.Nationaliteit1</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Nationaliteit2)</td>            
                                                   <td>@BrpPersoonCompositie.Persoon.Nationaliteit2</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Voorletters)</td>               
                                                   <td>@BrpPersoonCompositie.Persoon.Voorletters</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Voornamen)</td>                 
                                                   <td>@BrpPersoonCompositie.Persoon.Voornamen</td></tr>
            <tr class="table-responsive-sm"><td>@nameof(BrpPersoonCompositie.Persoon.Voorvoegsels)</td>              
                                                   <td>@BrpPersoonCompositie.Persoon.Voorvoegsels</td></tr>
        </tbody>
    </table>

}

@code {
    private string titel;

    [Parameter]
    public PersoonCompositie BrpPersoonCompositie { get; set; }
    [Parameter]
    public EventCallback<PersoonCompositie> BrpPersoonCompositieChanged { get; set; }


    public string ToonTitel()
    {
        return BrpPersoonCompositie != null ? BrpPersoonCompositie.Persoon.Aanschrijfwijze : "";
    }

    public async Task Collapser()
    {
        await JSRuntime.InvokeVoidAsync("jstoggler");
    }
}